@charset "utf-8";
/* CSS Document */

/*div {
	border-color:#000000;
	border-style:solid;
	border-width:1px;
}*/


.main-title .img-responsive {
    margin: 0 auto;
	padding-top:5px;
	padding-bottom:10px;
}

#main-tagline {
	text-align:center;
	padding-top:5px;
	padding-bottom:25px;
	font-size:20px;
}

.form-group {
	padding-bottom:0px;
	margin-bottom:5px;
}
.form-group label {
	padding-bottom:0px;
	padding:0 0 0 0;
	margin-bottom:0px;
	margin-left:0px;
	margin:0 0 0 0;
}


#login-form {
	padding-bottom:10px;
}

#register-link {
	font-size:15px;
	font-weight:600;
}

#register-link a {
	color:#9C0052;
}

#register-link a:hover, a:active {
	color:#D50070;
}

#footer-links {
  display: flex;
  justify-content: space-between;
  padding-left:0px;
  padding-right:0px;
  padding-top: 5px;
}

#footer-links a {
	font-weight:600;
	color:#5B1268;
}

#footer-links a:hover, a:active {
	color:#9702B1;
}

.footer-image .img-responsive {
    margin: 0 auto;
	padding-top:20px;
	padding-bottom:5px;
}

.copyright {
	text-align:center;
}


/*Navbar styles*/
.navbar {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 15px;
	margin-bottom:5px;
}

.navbar-nav > li > a { 
    padding-top: 7px; 
    padding-bottom: 7px; 
	font-size:17px;
	font-weight:600;
	color:#9702B1;
}

.navbar-nav > li > a:hover {
	border-radius: 5px;
	background-color:#DCC4CB;
	color:#5B1268;
}

.navbar { 
    min-height: 32px; 
}

.navbar-toggle {
	background-color:#D7CBCB;
	border-color:white;
	border-width:1px;
}

.navbar .navbar-toggle .icon-bar {
	background-color:white;
}

.navbar .navbar-brand {
	padding-top:0px;
	padding-left:20px;
}

#brand-tagline {
	font-size:10px;
}




