@charset "utf-8";
/* CSS Document */

/*div {
	border-color:#000000;
	border-style:solid;
	border-width:1px;
}*/


/*Navbar styles*/
.navbar {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 15px;
	margin-bottom:5px;
}

.navbar-nav > li > a { 
    padding-top: 7px; 
    padding-bottom: 7px; 
	margin-right:10px;
	margin-left:10px;
	font-size:17px;
	font-weight:600;
	color:#904D6C;
}

.navbar-nav > li > a:hover {
	border-radius: 2px;
	background-color:#D5D5D5;
	color:#5B1268;
}

.navbar { 
    min-height: 32px; 
}

.navbar-toggle {
	background-color:#D5D5D5;
	border-color:white;
	border-width:1px;
}

.navbar .navbar-toggle .icon-bar {
	background-color:white;
}

.navbar .navbar-brand {
	padding-top:0px;
	padding-left:20px;
}


/*Title image and tagline*/
.main-title .img-responsive {
    margin: 0 auto;
	padding-top:5px;
	padding-bottom:10px;
}

#main-tagline {
	text-align:center;
	padding-top:5px;
	padding-bottom:25px;
	font-size:20px;
}

/*form styles*/
.form-group {
	padding-bottom:0px;
	padding-left:10px;
	margin-bottom:5px;
}
.form-group label {
	padding-bottom:0px;
	margin-bottom:0px;
	margin-left:0px;
}

#login-form {
	padding-bottom:10px;
}

/*Log in links*/
#register-link {
	font-size:15px;
	font-weight:600;
}

#register-link a {
	color:#9C0052;
}

#register-link a:hover, a:active {
	color:#D50070;
}

#forgot-pw a {
	color:#9C0052;
}

#forgot-pw a:hover, a:active {
	color:#D50070;
}


/*Footer styles*/
.row-footer {
	padding-left:20px;
	padding-right:20px;
}

#footer-links {
  display: flex;
  justify-content: space-between;
  padding-left:0px;
  padding-right:0px;
  padding-top: 5px;
  padding-bottom:10px;
}

#footer-links a {
	font-weight:600;
	color:#5B1268;
}

#footer-links a:hover, a:active {
	color:#9702B1;
}

.footer-image .img-responsive {
    margin: 0 auto;
	padding-top:20px;
	padding-bottom:5px;
}

.copyright {
	text-align:center;
}








