@charset "utf-8";
/* CSS Document */

/*div {
	border-color:#000000;
	border-style:solid;
	border-width:1px;
}*/


#top-links {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom:5px;
  font-weight:600;
  font-size:17px;
}

#top-links a, #forgot-pw a {
	color:#5B1268;
}

#top-links a:hover, a:active, #forgot-pw a:hover, a:active {
	color:#9702B1;
}

.main-title .img-responsive {
    margin: 0 auto;
	padding-top:50px;
	padding-bottom:10px;
}

#main-tagline {
	text-align:center;
	padding-top:5px;
	padding-bottom:25px;
	font-size:20px;
}

.form-group {
	padding-bottom:0px;
	margin-bottom:5px;
}
.form-group label {
	padding-bottom:0px;
	padding:0 0 0 0;
	margin-bottom:0px;
	margin-left:0px;
	margin:0 0 0 0;
}


#login-form {
	padding-bottom:10px;
}

#register-link {
	font-size:15px;
	font-weight:600;
}

#register-link a {
	color:#9C0052;
}

#register-link a:hover, a:active {
	color:#D50070;
}

#footer-links {
  display: flex;
  justify-content: space-between;
  padding-left:0px;
  padding-right:0px;
  padding-top: 5px;
}

#footer-links a {
	font-weight:600;
	color:#5B1268;
}

#footer-links a:hover, a:active {
	color:#9702B1;
}

.footer-image .img-responsive {
    margin: 0 auto;
	padding-top:20px;
	padding-bottom:5px;
}

.copyright {
	text-align:center;
}


